/**
 * Content CSS File
 * Contains all content related styles
 *
 * @author      Flurin Dürst
 * @version     1.11.0
 * @since       WPSeed 0.1
 *
 */

@import 'vars';

/* GENERAL
/===================================================== */

.content {
  position: relative;
  width: 80vw;
  padding-top: 2rem;
  @include mobile {
    width: 100%;
    padding: 1rem;
  }
  section img,
  article img {
    float: left;
    width: 50%;
    padding: 0 1rem 1rem 0;
    @include mobile {
      float: none;
      width: 100%;
      padding: -1rem;
    }
  }
}

.top + div {
  margin-top: 4rem;
}

.wow {
  visibility: hidden;
}


/* TOP
/===================================================== */

.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 79px;
  padding-left: 2%;
  background: #004B44;
  box-shadow: $shadow;
  @include mobile {
    padding: 0 1rem;
  }
  .logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    background-image: url('images/f2m_initials.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .phys-locator {
    width: auto;
    padding-left: 1rem;
    height: 100%;
    padding-right: 1rem;
    margin-left: auto;
    background-color: $color__green;

      h3 {
        /* PHYSICIAN LOCATOR: */
        font-family: Montserrat-Bold;
        font-size: 12px;
        color: #004B44;
        letter-spacing: 0.4px;
        text-align: center;
        text-transform: uppercase;
      }
    // background-image: url(images/logo.svg);
    // background-size: contain;
    // background-repeat: no-repeat;
  }
}


/* HEADINGS, PARAGRAPHS
/===================================================== */

h1 {
  margin: 0 0 .25rem 0;
  font-size: 2rem;
}

h2 {
  margin: 0 0 .5rem 0;
  font-size: 1.5rem;
}

p {
  margin: 0 0 .5rem 0;
}


/* PAGES
/===================================================== */

/* TEMPLATE - HOME
/------------------------*/
.teaser {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-size: cover;
}


/* TEMPLATE - BLOG
/------------------------*/
.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  article {
    flex-basis: calc(90% / 2);
    margin-bottom: 1rem;
    @include mobile {
      flex-basis: 100%;
    }
    .readmore a {
      color: $default__color__link;
      &:hover {
        opacity: .5;
      }
    }
  }
}

.blog,
.post {
  .postinfo {
    margin: 0 0 1rem 0;
    color: $color__grey;
  }

  .thumbnail {
    width: 100%;
    height: 15rem;
    margin-bottom: .5rem;
    background-size: cover;
  }
}


/* TEMPLATE - SUBSITES
/------------------------*/
.subsites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  section {
    flex-basis: calc(90% / 3);
    margin-bottom: 1rem;
    @include vpw_min(1600px) {
      flex-basis: calc(90% / 4);
    }
    @include vpw_max(1000px) {
      flex-basis: calc(90% / 2);
    }
    @include mobile {
      flex-basis: 100%;
    }
    .thumbnail {
      width: 100%;
      height: 15rem;
      background-size: cover;
    }
  }
}


/* FOOTER
/===================================================== */

.footer {
  width: 100vw;
  margin-top: auto;
  // padding: 1.5rem;
  font-size: .8rem;
  // color: $color__grey;
  background: $color__bright;
  // box-shadow: $shadow;

    h3 {
      color: $color__yellow-green;
      width: 60%;
      font-size: 2rem;
      text-align: center;
      letter-spacing: 0.025rem;
      margin: 0 auto;
      font-family: $font__Montserrat;
      padding: 1.6875rem;
      line-height: 2.4375rem;
    }

    &__break {
      color: $color__dark-green;
      text-align: center;
      font-weight: bold;
    }

    &__form {
      width: 100%;
      background: $color__dark-green;
      margin-top: .5rem;
      padding: 1.1875rem;
      // float: left;
      // position: relative;
      // height: 2.25rem;

      &-container {
        // width: 75%;
        margin: 0 auto;
        // display: flex;
        // justify-content: center;


      }

      form.wpcf7-form {
        display: flex;
        justify-content: center;
    }

    form.wpcf7-form input {
      color: $color__darker-green;
      font-size: .875rem;
      font-family: $font__Montserrat;
  }

      p {
        margin: 0 .6rem;
      }

      // p:not(:nth-child(2n)) {
      //   margin-right: 2%;
      // }
      // p:last-child {
      //   clear: both;
      //   width: 100%;
      // }

      // p:nth-last-child(2) {
      //   clear: both;
      //   width: 100%;
      // }
    }
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
  width: 15rem;
  // margin: 0 .25rem;
  padding: .25rem;
  line-height: 1.3rem;
  // display: block;
}

input.wpcf7-form-control.wpcf7-submit {
  width: auto;
  background-color: $color__green;
  font-family: $font__Montserrat;
  color: $color__bright !important;
  font-size: 0.875rem !important;
  text-transform: uppercase;
  // margin: 0 .25rem;
  padding: .3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.33rem;
  // display: block;
}

input.wpcf7-form-control.wpcf7-text {
  width: 13rem;
  line-height: 1.3rem;
  // margin: 0 .25rem;
  padding: .25rem;
  // display: block;

}

input::placeholder {
  color: $color__grey;
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
  
}

div.wpcf7-response-output {
  margin: 0;
  padding: 0.5rem .5rem;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
  display: block;
  width: 15rem;
  font-size: .7rem;
  color: $color__green;
  margin-left: -.7rem;
  border: 2px solid $color__green;

}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  display: block;
  width: 15rem;
  font-size: .7rem;
  color: $color__green;
  margin-left: -.7rem;
  border: 2px solid $color__green;

}

input.wpcf7-form-control.wpcf7-submit:hover {
  background-color: #a4b309;
  transition: 0.3s;
  border: 1px solid transparent;
  color: $color__darker-green !important;
  cursor: pointer;
  box-shadow: $shadow__soft;
}

/* BUTTONS */

.button {
  background-color: $color__green;
  font-family: $font__Montserrat;
  font-size: 0.875rem;

  &__form {
    color: $color__bright;
  }

  &__content {

  }
}

.button:hover {
  background-color: #a4b309;
  transition: 0.3s;
  border: 1px solid transparent;
  color: $color__darker-green !important;
  cursor: pointer;
  box-shadow: $shadow__soft;
}